swagger: '2.0'
info:
  description: RESTful API for the Denner Mobile App
  version: 2.1.0
  title: Denner Mobile Web Service
  contact:
    name: DETAIL NET
    email: support+denner-mobile-api@detailnet.ch
# In Swagger definition is not possible to define multiple servers/hosts/basepth (ref https://swagger.io/docs/specification/2-0/api-host-and-base-path/)
#on migration to OpenApi standard, define servers:
#servers:
#  - url: https://denner-mobile-api.detailnet.ch/{apiGatewayPath}
#    description: ApiGateway (every request is submitted to the respective Lambda function)
#    variables:
#      apiGatewayPath
#        enum:
#          - v2-test
#          - v2
#          - v1-test
#          - v1
#        default: v2-test,
#        description: ApiGateway path
#  - url: https://denner-mobile-api-v2.detailnet.ch
#    description: "CloudFront distribution for V2 (cache 1h)
#  - url: https://denner-mobile-api-v1.detailnet.ch
#    description: CloudFront distribution for V1 (cache 1h)
# Because AWL will use DENNER CPI, the ClodFront deployment for V2 will never be used, therefore giving API gateway route
host: denner-mobile-api.detailnet.ch
basePath: /v2-test
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  ### Store
  /stores:
    get:
      summary: List all stores
      description: >
        Use this operation to get a list of all stores (Filialen).
      tags:
        - store
      operationId: listStores
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
        - name: f.open
          description: >
            Filter by opening, e.g. "f.open=__in_now,20:00" will return all stores which are open right now or today at 8:00 pm.
          in: query
          type: string
        - name: f.services
          description: >
            Filter by services, e.g. "f.services=__in_d4d34d84-b32b-46fb-b45f-2bde4b72be81" will return all stores which have at least one of the given services.
          in: query
          type: string
        - name: f.channel
          description: >
            Filter by channels, e.g. "f.channel=__in_18549f95-6471-4e21-968f-8a0bf2e0f79b" will return all stores which have one of the given channels.
          in: query
          type: string
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'
          examples:
            application/json:

#              page_count: 1
#              page_size: 1
              total_stores: 794
              stores:
                -
                  id: "bcb8a388-8998-4d08-85a6-4864199704ee"
                  code: 302
                  name: null
                  address: "Werdstrasse"
                  number: "36"
                  zip_code: 8004
                  canton_code: "ZH"
                  city: "Zürich"
                  country_code: "CH"
                  phone: "044 240 22 83"
                  hotline: "0848 99 66 33"
                  payment_types:
                    - "cash"
                    - "euro"
                    - "maestro"
                    - "post"
                  credit_card: true
                  open_from: "1998-08-01"
                  open_to: null
                  renovation_from: "2015-06-25"
                  renovation_to: "2015-06-26"
                  latitude: 47.3728447
                  longitude: 8.5295153
                  language: "de"
                  email: "info@denner.ch"
                  homepage: "http://www.denner.ch"
                  parking_count: 0
                  channel:
                    id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    title: "Denner"
                  opening_times:
                    -
                      weekday: 1
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 2
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 3
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 4
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 5
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 6
                      open_from: "08:00"
                      open_to: "12:00"
                    -
                      weekday: 6
                      open_from: "14:00"
                      open_to: "20:00"
                  special_opening_times:
                    -
                      day: "2015-06-25"
                      reason: "Umbau"
                      closed: true
                    -
                      day: "2015-06-26"
                      reason: "Umbau"
                      closed: true
                    -
                      day: "2015-06-28"
                      open_from: "10:00"
                      open_to: "16:00"
                      reason: "Sonntagsverkauf"
                      closed: false
                  services:
                    -
                      id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                      title: "Humidor"
                    -
                      id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                      title: "Früchte und Gemüse"
                    -
                      id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                      title: "Backstation"

  /store-filters:
    get:
      summary: List all store filters
      description: Use this operation to get a list of the store filters.
      tags:
        - store
      operationId: listStoreFilters
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoreFiltersResponse'
          examples:
            application/json:

              store_filters:
                -
                  id: "opening"
                  title: "Öffnungszeit"
                  type: "list"
                  filter:
                    property: "f.open"
                    operator: "in"
                    type: "array"
                  options:
                    -
                      title: "Jetzt geöffnet"
                      value: "now"
                    -
                      title: "Heute bis 20 Uhr geöffnet"
                      value: "20:00:00"
                -
                  id: "services"
                  title: "Besondere Sortimente"
                  type: "list"
                  filter:
                    property: "f.services"
                    operator: "in"
                    type: "array"
                  options:
                    -
                      title: "Humidor"
                      value: "acb911fb-b7e3-480f-ab91-1109e750892a"
                    -
                      title: "Bordeaux Grands Crus"
                      value: "85aa57ad-2bf3-48e5-a1a0-813889cbae26"
                    -
                      title: "Früchte und Gemüse"
                      value: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                    -
                      title: "Früchte und Gemüse im Offenverkauf"
                      value: "47191064-ad2e-482a-a5cf-2aa32d0b8116"
                    -
                      title: "Backstation"
                      value: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                -
                  id: "channels"
                  title: "Filialtyp"
                  type: "list"
                  filter:
                    property: "f.channel"
                    operator: "in"
                    type: "array"
                  options:
                    -
                      title: "Denner"
                      value: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    -
                      title: "Denner Satellit"
                      value: "18549f95-6471-4e21-968f-8a0bf2e0f79b"

  ### Promotion
  /featured-articles:
    get:
      summary: List the featured articles
      description: >
        Use this operation to get a list of all featured articles.
      tags:
        - promotion
      operationId: listFeaturedArticles
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/FeaturedArticlesResponse'
          examples:
            application/json:

#              page_count: 1
#              page_size: 1
#              total_featured_articles: 1
              featured_articles:
                -
                  id: "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6"
                  article_id: "051273"
                  title: "Mandorla Primitivo di Puglia IGT"
                  description: "2013, Apulien, Italien, 6 x 75 cl"
                  prices:
                    sales: 59.4
                    instead: 68.4
                    base: 1.32
                    by_quantity:
                      -
                        quantity: 1
                        sales: 9.9
                        instead: 11.4
                      -
                        quantity: 6
                        sales: 59.4
                        instead: 68.4
                  price_info: "Konkurrenzvergleich"
                  unit_price_info: "Einzelflasche: 9.90 statt 11.40"
                  dots:
                    -
                      id: "d4bca729-10ad-482c-bdda-b1a1398173b5"
                      type:
                        id: "semi_price_winehit"
                      images:
                        -
                          type: "image/svg+xml"
                          url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-de.svg"
                  stopper:
                    id: "2cfc695c-bb8b-443e-a344-8296113a9c12"
                    type:
                      id: "x_percent"
                    text: "10%"
                  quantity: 6
                  content:
                    text: "75 cl"
                  base:
                    text: "10 cl"
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    short_text: "Gültig von 23.06.–29.06."
                    long_text: "Angebot gültig von 23.06.2015 bis 29.06.2015"
                  availability_limitations:
                    region: "Nur in der deutschen und französischen Schweiz erhältlich"
                    store: "Nur in Filialen mit Frischprodukten erhältlich"
                  promoted: true
                  compared: true
                  cooling: 0
                  eco_labels:
                    -
                      id: "66d94617-bbd7-477e-ae66-183deb67ba5b"
                      code: "bio"
                  packshot:
                    image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                  wine:
                    country:
                      id: "IT"
                      title: "Italien"
                    region:
                      id: "b19c42bf-ed78-46ff-ad6f-fc688a059e6a"
                      title: "Apulien"
                    type:
                      id: 2
                      title: "Rotwein"
                    year: 2013
                    fits_with: "Pasta, Fleisch mit würzigen Saucen"
                    varietal: "Primitivo"
                    character: "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                    temperature: "16-18 °C"
                    awards: ""
                    storage: "3 Jahre"
                    rating:
                      value: 4.45
                      stars: 4.5
                      total: 11
                      valid: true
                    shop:
                      url: "http://denner-wineshop.ch/skuredirect/051273/"
                      quantity: 6
                      prices:
                        sales: 68.4
                        base: 1.52
                        by_quantity:
                          -
                            quantity: 1
                            sales: 11.4
                          -
                            quantity: 6
                            sales: 68.4
                      stock:
                        value: -15
                        code: 2
                        message: "Derzeit nicht bestellbar"

  /online-filters:
    get:
      summary: List the online filters of a given type
      description: >
        Use this operation to get a list of all online filters
        (Angebotsfilter; e.g. "Aktionen aktuelle Woche" or "Aktionen der Folgewoche").
      tags:
        - promotion
      operationId: listOnlineFilters
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
        - name: f.types
          description: >
            Type of online filters to list (supported are "promotion" and "wine"),
            e.g. "f.types=__in_promotion" will return all online filters which should be shown in the promotional area of the App (red color).
          in: query
          type: string
        - $ref: '#/parameters/SortParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'
          examples:
            application/json:

              online_filters:
                -
                  id: "3734ef1f-4c1a-428c-af24-7d85af7c5041"
                  title: "Aktionen der Folgewoche"
                -
                  id: "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c"
                  title: "Aktionen aktuelle Woche"

  /online-filters/{filter_id}/online-publications:
    get:
      summary: List the online publications appearing in given online filter
      description: >
        Use this operation to get a list of all publications (and the contained articles)
        for a specific online filter
        (e.g. "Wochenaktionen" and "Wochenend-Knaller", which are both appearing within "Aktionen aktuelle Woche").
      tags:
        - promotion
      operationId: listOnlinePublicationsByOnlineFilter
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
        - name: f.online_group
          description: >
            Filter by online groups, e.g. "f.online_groups=__in_58afec5c-ece9-4b66-bc55-00d6dc1b65b8" will return all online publications which have at least one of the given online groups.
          in: query
          type: string
        - $ref: '#/parameters/OnlineFilterIdPathParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationsResponse'
          examples:
            application/json:

              online_publications:
                -
                  id: "2c8616be-07c8-4fba-83a2-ee780449ff32"
                  title: "Wochenaktionen"
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    text: "23.06.2015 bis 29.06.2015, solange Vorrat"
                  articles:
                    -
                      id: "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6"
                      article_id: "051273"
                      title: "Mandorla Primitivo di Puglia IGT"
                      description: "2013, Apulien, Italien, 6 x 75 cl"
                      prices:
                        sales: 59.4
                        instead: 68.4
                        base: 1.32
                        by_quantity:
                          -
                            quantity: 1
                            sales: 9.9
                            instead: 11.4
                          -
                            quantity: 6
                            sales: 59.4
                            instead: 68.4
                      price_info: "Konkurrenzvergleich"
                      unit_price_info: "Einzelflasche: 9.90 statt 11.40"
                      dots:
                        -
                          id: "d4bca729-10ad-482c-bdda-b1a1398173b5"
                          type:
                            id: "semi_price_winehit"
                          images:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-de.svg"
                      stopper:
                        id: "2cfc695c-bb8b-443e-a344-8296113a9c12"
                        type:
                          id: "x_percent"
                        text: "10%"
                      quantity: 6
                      content:
                        text: "75 cl"
                      base:
                        text: "10 cl"
                      validity:
                        from: "2015-06-23"
                        to: "2015-06-29"
                        short_text: "Gültig von 23.06.–29.06."
                        long_text: "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      availability_limitations:
                        region: "Nur in der deutschen und französischen Schweiz erhältlich"
                        store: "Nur in Filialen mit Frischprodukten erhältlich"
                      promoted: true
                      compared: true
                      cooling: 0
                      eco_labels:
                        -
                          id: "66d94617-bbd7-477e-ae66-183deb67ba5b"
                          code: "bio"
                      packshot:
                        image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                      wine:
                        country:
                          id: "IT"
                          title: "Italien"
                        region:
                          id: "b19c42bf-ed78-46ff-ad6f-fc688a059e6a"
                          title: "Apulien"
                        type:
                          id: 2
                          title: "Rotwein"
                        year: 2013
                        fits_with: "Pasta, Fleisch mit würzigen Saucen"
                        varietal: "Primitivo"
                        character: "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                        temperature: "16-18 °C"
                        awards: ""
                        storage: "3 Jahre"
                        rating:
                          value: 4.45
                          stars: 4.5
                          total: 11
                          valid: true
                        shop:
                          url: "http://denner-wineshop.ch/skuredirect/051273/"
                          quantity: 6
                          prices:
                            sales: 68.4
                            base: 1.52
                            by_quantity:
                              -
                                quantity: 1
                                sales: 11.4
                              -
                                quantity: 6
                                sales: 68.4
                          stock:
                            value: -15
                            code: 2
                            message: "Derzeit nicht bestellbar"

  /online-filters/{filter_id}/online-groups:
    get:
      summary: List the online groups appearing in given online filter
      description: >
        Use this operation to get a list of all online groups (Internet-Sortimente) for a specific online filter.
      tags:
        - promotion
      operationId: listOnlineGroupsByOnlineFilter
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
        - $ref: '#/parameters/OnlineFilterIdPathParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineGroupsResponse'
          examples:
            application/json:

              online_groups:
                -
                  id: "7627150d-36bd-4867-89b2-091800a03d24"
                  title: "Frischprodukte"
                  children:
                    -
                      id: "58afec5c-ece9-4b66-bc55-00d6dc1b65b8"
                      title: "Milchprodukte"
                      children: []
                    -
                      id: "e5216167-9da5-41d6-b7b3-96362b60de89"
                      title: "Eier"
                      children: []

  ### Banner
  /banners:
    get:
      summary: List all banners
      description: >
        Use this operation to get a list of all banners.
      tags:
        - banner
      operationId: listBanners
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
        - $ref: '#/parameters/UserAgentHeader'
#        - $ref: '#/parameters/SortParam'
#        - $ref: '#/parameters/PageParam'
#        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/BannersResponse'
          examples:
            application/json:

#              page_count: 1
#              page_size: 1
#              total_banners: 250
              banners:
                -
                  id: "73f91ae8-fa76-4f76-86d9-78f6bcd5d3ab"
                  types:
                    - "promotion"
                    - "wine"
                  closable: true
                  position: "top"
                  title: "20% auf alle Lindt-Artikel*"
                  html: "Freitag, 27. und Samstag, 28. November 2015<br>20% auf alle Lindt-Artikel* auch auf bestehende Aktionspreise!<br>*nicht mit anderen Gutscheinen und Bons kumulierbar. Solange Vorrat."
                  link: null
                  image:
                    image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/banners/ec63c8de-eb6d-41f4-813b-35cd6ef8631f/lindt.png"

parameters:
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10

      To disable pagination (when supported) send "-1".
    in: query
    type: integer
    required: false
    format: int32
    default: 10
  SortParam:
    name: sort
    description: >
      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
    in: query
    type: string
    required: false
  OnlineFilterIdPathParam:
    name: filter_id
    description: The unique identifier of an online filter
    in: path
    type: string
    required: true
    pattern: '^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-(8|9|a|b)[a-f0-9]{3}-[a-f0-9]{12}$'
  ArticleIdPathParam:
    name: article_id
    description: The unique identifier of an article
    in: path
    type: string
    required: true
    pattern: '/^\d{6}$/'
  SearchParam:
    name: search
    description: Search text
    in: query
    type: string
    required: false
  AcceptHeader:
    name: Accept
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Accepted content type (supported is "application/json")
  AcceptLanguageHeader:
    name: Accept-Language
    in: header
    type: string
#    pattern: '/^(de|fr|it)$/'
    required: false
    default: de
    description: >
      Accepted locale (supported are "de", "fr", and "it")
  ContentTypeHeader:
    name: Content-Type
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Request body content type (supported is "application/json")
  UserAgentHeader:
    name: User-Agent
    in: header
    type: string
    required: false
    description: >
      User agent

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Country:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        type: string
        description: Title as displayed to users (localized)
    description: Country

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  Time:
    type: string
    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
    description: 'Time; Format HH:MM:SS'

  DayOfWeek:
    type: integer
    format: int32
    minimum: 0 # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 6 # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 0 = Sunday

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

  Price:
    type: number
    format: float
    minimum: 0
    description: Price in CHF

  Quantity:
    type: integer
    format: int32
    minimum: 1
    description: Quantity

#  Removed because we cannot calculate a valid size, neither display a standardized unit
#  ContentSize:
#    type: number
#    format: float
#    minimum: 0
#    description: Content size

#  Removed because we cannot calculate a valid size, neither display a standardized unit
#  ContentUnit:
#    # @todo Define an pattern or standard reference (e.g. ISO 80000-3)?
#    type: integer
#    format: int32
#    description: Content unit code from navision

  Cooling:
    type: number
    format: int32
    minimum: 0
    description: Cooling type (0 = no cooling, 1 = refrigerated, 2 = frozen)

  Validity:
    type: object
    description: Generic validity based on dates (from/to) and a corresponding text
    properties:
      from:
        $ref: '#/definitions/Date'
      to:
        $ref: '#/definitions/Date'
      text:
        type: string
        description: Validity text as displayed to users (localized)

  ArticleValidity:
    type: object
    description: Article validity based on dates (from/to) and corresponding texts (short and long version)
    properties:
      from:
        $ref: '#/definitions/Date'
      to:
        $ref: '#/definitions/Date'
      short_text:
        type: string
        description: Validity text (short version) as displayed to users (localized)
      long_text:
        type: string
        description: Validity text (long version) as displayed to users (localized)

  Url:
    type: string
#    pattern: @todo Fixed pattern?
    description: Web URL address

  Phone:
    type: string
#    pattern: @todo Fixed pattern?
    description: Formatted phone number

  ### Filtering
  Filter:
    type: object
    properties:
      property:
        type: string
        description: Name of the property to filter against
      operator:
        type: string
        description: Operator to compare the value (e.g. "=")
      type:
        type: string
        description: Data type of the value (e.g. "integer")
    description: Filter definition

  SliderLimit:
    type: object
    properties:
      value:
        type: integer
        description: Limit (value for the filter)
      filter:
        $ref: '#/definitions/Filter'

  FilterSection:
    type: object
    discriminator: type
    properties:
      id:
        type: string
        description: Unique identifier
      title:
        type: string
        description: Public title as displayed to users (localized)
      type:
        type: string
        description: Filter type (e.g. "list")
    required:
      - id
      - title
      - type

  ListFilterSection:
    allOf:
      - $ref: '#/definitions/FilterSection'
      - properties:
          filter:
            type: object
            properties:
              property:
                type: string
                description: Name of the property to filter against
              operator:
                type: string
                description: Operator to compare the value (e.g. "=")
              type:
                type: string
                description: Data type of the value (e.g. "integer")
          options:
            type: array
            description: Options
            items:
              type: object
              properties:
                title:
                  type: string
                  description: Public title of the option as displayed to users (localized)
                value:
                  type: string # Mixed, but Swagger doesn't support it
                  description: Value to filter against

  # SliderFilterSection:
  #   allOf:
  #     - $ref: '#/definitions/FilterSection'
  #     - properties:
  #         range:
  #           type: object
  #           properties:
  #             min:
  #               $ref: '#/definitions/SliderLimit'
  #             max:
  #               $ref: '#/definitions/SliderLimit'

  ### Store
  Store:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      city:
        type: string
        description: City
      canton_code:
        type: string
        description: Canton (state) code
      country:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      phone:
        $ref: '#/definitions/Phone'
      hotline:
        $ref: '#/definitions/Phone'
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      open_from:
        type: string
        format: date
        description: Opening on
      open_to:
        type: string
        format: date
        description: Closing on
      renovation_from:
        type: string
        format: date
        description: Renovation starting on
      renovation_to:
        type: string
        format: date
        description: Renovation ending on
      flyers:
        type: array
        items:
          $ref: '#/definitions/StoreFlyer'
      longitude:
        type: number
        format: float
        description: Geographic longitude
      latitude:
        type: number
        format: float
        description: Geographic latitude
      language:
        type: string
        description: Language spoken in the store
      email:
        type: string
#        pattern: @todo Fixed pattern?
        description: Email address
      homepage:
        $ref: '#/definitions/Url'
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      channel:
        $ref: '#/definitions/StoreChannel'
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
      weekly_opening_days:
        type: array
        minItems: 7
        maxItems: 7
        items:
          $ref: '#/definitions/WeeklyOpeningDay'
        description: Weekly opening days, exact opening plan for the week. Items are sorted for correct display.
      services:
        type: array
        items:
          $ref: '#/definitions/StoreService'
        description: Services provided by the store

  PaymentType:
    type: string
    pattern: '/^(cash|euro|maestro|post")$/' # @todo Needed?
    description: Payment type

  OpeningTime:
    type: object
    properties:
      weekday:
        $ref: '#/definitions/DayOfWeek'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

  SpecialOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'
      reason:
        type: string
        description: Reason for the special opening as displayed to users (localized)
      closed:
        type: boolean
        description: Is the store closed on this day?

  CalendarOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

  WeeklyOpeningDay:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      weekday:
        $ref: '#/definitions/DayOfWeek'
      statements:
        type: array
        minItems: 1
        items:
          $ref: '#/definitions/DayOpeningStatement'
        description: Statements for the current day. Items are sorted for correct display.

  DayOpeningStatement:
    type: object
    properties:
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'
      text_override:
        type: string
        description: Closure text, instead of open form/to (localized)
      superseded:
        type: boolean
        description: Is the statement striked out?
      change_info:
        type: string
        description: Tooltip info, the reason for the change (localized)

  ### Store Channel
  StoreChannel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Channel title

  ### Store service
  StoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Service title

  ### Store Flyer
  StoreFlyer:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      expired:
        type: boolean
        description: Is the flyer expired?
      url:
        $ref: '#/definitions/Url'
      sort_index:
        type: integer
        format: int32
        minimum: 0
        description: Display order of store flyer

  ### Eco label
  EcoLabel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Navision identification code

  ### Article
  ArticlePrices:
    type: object
    properties:
      sales:
        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      base:
        $ref: '#/definitions/Price'
      by_quantity:
        $ref: '#/definitions/QuantityPrices'

  QuantityPrices:
    type: array
    items:
      $ref: '#/definitions/QuantityPrice'

  QuantityPrice:
    type: object
    properties:
      quantity:
        $ref: '#/definitions/Quantity'
      sales:
        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'

  Content:
    type: object
    properties:
#      Removed because we cannot calculate a valid size, neither display a standardized unit
#      size:
#        $ref: '#/definitions/ContentSize'
#      unit:
#        $ref: '#/definitions/ContentUnit'
      text:
        type: string
        description: Article content as displayed to users (localized, e.g. "75 cl")

  BaseContent:
    type: object
    properties:
#      Removed because we cannot calculate a valid size, neither display a standardized unit
#      size:
#        $ref: '#/definitions/ContentSize'
#      unit:
#        $ref: '#/definitions/ContentUnit'
      text:
        type: string
        description: Article base content as displayed to users (localized, e.g. "10 cl")

  Packshot:
    type: object
    properties:
      cdn_url:
        $ref: '#/definitions/Url'
      image_url:
        $ref: '#/definitions/Url'

  ArticleWine:
    type: object
    properties:
      country:
        $ref: '#/definitions/Country'
      region:
        $ref: '#/definitions/Region'
      type:
        $ref: '#/definitions/WineType'
      year:
        $ref: '#/definitions/Year'
      fits_with:
        type: string
      varietal:
        type: string
      character:
        type: string
      temperature:
        type: string
      awards:
        type: string
      storage:
        type: string
      rating:
        $ref: '#/definitions/Rating'
      shop:
        $ref: '#/definitions/ShopInfo'

  Region:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Title as displayed to users (localized)

  WineType:
    type: object
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        description: Navision wine type code
      title:
        type: string
        description: Title as displayed to users (localized)

  BaseRating:
    type: object
    properties:
      value:
        type: number
        format: float
        minimum: 0
        maximum: 5
        description: Rating value
      stars:
        type: number
        format: float
        minimum: 0
        maximum: 5
        description: Stars, rounded to the correct deciaml value
      total:
        type: integer
        format: int32
        minimum: 0
        description: Ratng count

  Rating:
    allOf:
      - $ref: '#/definitions/BaseRating'
      - properties:
          valid:
            type: boolean
            description: Is a valid rating?

  Stock:
    type: object
    properties:
      value:
        type: integer
        format: int32
        description: Navision stock count, might be negative
      code:
        type: integer
        format: int32
        minimum: 0
        description: Navision stock code
      message:
        type: string
        description: Stock information as displayed to users (localized)

  ShopInfo:
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'
      quantity:
        $ref: '#/definitions/Quantity'
      prices:
        $ref: '#/definitions/ArticlePrices'
      stock:
        $ref: '#/definitions/Stock'

  ### Publicated article
  Dots:
    type: array
    items:
      $ref: '#/definitions/Output'

  Output:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      type:
        $ref: '#/definitions/OutputType'
      images:
        $ref: '#/definitions/OutputImageFormats'

  OutputType:
    type: object
    description: Output type
    properties:
      id:
        type: string
        description: Output type id

  OutputImageFormats:
    type: array
    items:
      $ref: '#/definitions/OutputImageFormat'

  OutputImageFormat:
    type: object
    properties:
      type:
        type: string
        description: Mime type for the output image
      url:
        type: string
        description: Image URL which can be used, for example, in an 'img' tag

  Stopper:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      type:
        $ref: '#/definitions/OutputType'
      text:
        type: string
        description: Stopper as displayed to users (localized)

  ### Online publication article
  OnlinePublicationArticle:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      article_id:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      title:
        type: string
        description: Public title as displayed to users (localized)
      description:
        type: string
        description: Public description as displayed to users (localized)
      prices:
        $ref: '#/definitions/ArticlePrices'
      price_info:
        type: string
        description: >
          Price information as displayed to users (localized, e.g. "Konkurrenzvergleich")
      price_override:
        type: string
        description: >
          Price text when price is not numeric (only for ad-hoc article, localized, e.g. "ab 2 Stück")
      mobile_link:
        type: string
        description: >
          Internal mobile url instead of details page (only for ad-hoc article, e.g. "dennermobile://?page=promotions&categoryid=daa2a370-7db7-1740-a7c8-1ff93a39f613")
      unit_price_info:
        type: string
        description: >
          Unit price information as displayed to users (localized, e.g. "Einzelflasche: 9.90 statt 11.40")
          OR (for ad-hoc article)
          Localized disclaimer (localized, e.g. "Auch auf bestehende Aktionspreise!\nNicht mit anderen Gutscheinen und Bonus kumulierbar")
      dots:
        $ref: '#/definitions/Dots'
      stopper:
        $ref: '#/definitions/Stopper'
      panel:
        type: string
        description: >
          Panel text as displayed to users (localized)
          DEPRECATED: substituted by "stopper", will be removed in v2
        #deprecated: true  # Will be available on OpenAPI 3.x definition
      quantity:
        $ref: '#/definitions/Quantity'
      content:
        $ref: '#/definitions/Content'
      base:
        $ref: '#/definitions/BaseContent'
      validity:
        $ref: '#/definitions/ArticleValidity'
      availability_limitations:
        type: object
        description: Texts for information about limited availability
        properties:
          region:
            type: string
            description: Region availability as displayed to users (localized)
          store:
            type: string
            description: Store availability as displayed to users (localized)
      promoted:
        type: boolean
        description: Is it a promoted article (should be displayed with full information)?
      compared:
        type: boolean
        description: Is the article's price compared to an offer from an other company?
      online_group_ids:
        type: array
        items:
          $ref: '#/definitions/UUIDv4'
        description: >
          List of online group IDs, a normal article has only one possible online-group
          An ad-hoc article might have more than one.
      cooling:
        $ref: '#/definitions/Cooling'
      eco_labels:
        $ref: '#/definitions/EcoLabels'
      packshot:
        $ref: '#/definitions/Packshot'
      wine:
        $ref: '#/definitions/ArticleWine'
      sort_index:
        type: integer
        format: int32
        minimum: 0
        description: Display order

  ### Featured online publication article
  FeaturedArticle:
    allOf:
      - $ref: '#/definitions/OnlinePublicationArticle'

  ### Online publication
  OnlinePublication:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Public title as displayed to users (localized)
      validity:
        $ref: '#/definitions/Validity'
      articles:
        $ref: '#/definitions/OnlinePublicationArticles'

  ### Online filter
  OnlineFilter:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Public title as displayed to users (localized)

  ### Online group
  OnlineGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Public title as displayed to users (localized)
      children:
        $ref: '#/definitions/OnlineGroups'

  ### Banner
  Banner:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      types:
        type: array
        items:
          type: string
      closable:
        type: boolean
        description: Can the user close the banner?
      position:
        type: string
        description: Where the banner is shown in the UI
      title:
        type: string
        description: Title as shown to the user (localized)
      html:
        type: string
        description: Text as shown to the user (localized)
      link:
        $ref: '#/definitions/Url'
      image:
        type: object
        properties:
          image_url:
            $ref: '#/definitions/Url'
    required:
      - types
      - title

  ### Collections
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'

  StoreFilters:
    type: array
    items:
      $ref: '#/definitions/ListFilterSection'

  EcoLabels:
    type: array
    items:
      $ref: '#/definitions/EcoLabel'

  OnlinePublicationArticles:
    type: array
    items:
      $ref: '#/definitions/OnlinePublicationArticle'

  OnlinePublications:
    type: array
    items:
      $ref: '#/definitions/OnlinePublication'

  OnlineFilters:
    type: array
    items:
      $ref: '#/definitions/OnlineFilter'

  OnlineGroups:
    type: array
    items:
      $ref: '#/definitions/OnlineGroup'

  Banners:
    type: array
    items:
      $ref: '#/definitions/Banner'

  FeaturedArticles:
    type: array
    items:
      $ref: '#/definitions/FeaturedArticle'

  ### Responses
  StoresResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
      total_stores:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'

  StoreFiltersResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_store_filters:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      store_filters:
        $ref: '#/definitions/StoreFilters'

  OnlineFiltersResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_online_filters:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      online_filters:
        $ref: '#/definitions/OnlineFilters'

  OnlineGroupsResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_online_groups:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      online_groups:
        $ref: '#/definitions/OnlineGroups'

  OnlinePublicationsResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_online_publications:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      online_publications:
        $ref: '#/definitions/OnlinePublications'

  BannersResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_banners:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      banners:
        $ref: '#/definitions/Banners'

  FeaturedArticlesResponse:
    type: object
    properties:
#    page_count:
#      description: The number of pages
#      type: integer
#      format: int32
#    page_size:
#      description: The page size
#      type: integer
#      format: int32
#    total_featured_articles:
#      description: The number of items on all pages
#      type: integer
#      format: int32
      featured_articles:
        $ref: '#/definitions/FeaturedArticles'
